version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - db
    environment:
      # SQLAlchemy URL: host=db (MySQL 서비스 이름)
      - DATABASE_URL=mysql+pymysql://root:1234@db:3306/sjw2?charset=utf8mb4

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.frontend
    container_name: react-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234 # root 비밀번호만 설정
      MYSQL_DATABASE: sjw2 # 생성할 DB 이름
    ports:
      - "3307:3306" # 호스트 포트 충돌 방지
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
